.cabecalho {
    color: var(--branco);

    width: 100%;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: .75rem;
    padding-bottom: .75rem;

    border-bottom: 1px solid var(--borda-cabecalho-mobile);

    position: absolute;
}

.cabecalho__logo {
    margin-bottom: 1rem;
    width: 40%;
	opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 10px 0 #000;
}

.cabecalho__logo:hover {
	opacity: 0.3;
}

.cabecalho__navegacao {
    text-align: center;
}

.cabecalho__link {
    font-size: 1.1rem;

    display: inline-block;

    margin-right: .7rem;
    margin-bottom: 1.25rem;
    margin-left: .7rem;
    color: #fff;
}

/*Criando a responsividade para desktop*/
@media screen and (min-width: 1024px) {
    .cabecalho{
        flex-direction: row;
        justify-content: space-between;
        border:none;
    }
}


    
